body {
	background-color: rgb(50,122,167);
	padding: 0 20px 20px;
	margin: 0;
}
p {
	color: rgba(255,255,255,.6);
	font-size: 1em;
	font-family: Arial, sans-serif;
}
h1, h2, h3 {
	color: rgb(255,255,255);
	font-family: Arial, sans-serif;
	border-bottom: 2px solid rgb(87,185,178);
	padding-top: 10px;
	padding-bottom: 5px;	
}
h1 {
	font-size: 2em;
}
#logo {
	color: rgba(255,255,255,.8);
	font-style: italic;
	text-align: center;

}
