html {
	background-color: #fdf1f0;
	padding: 40px;
	background: linear-gradient(#FDFDF0, #293f50);
}
body {
	border: 3px dashed #900000;
	padding: 25px;
	box-shadow: 0 0 20px rgba(0,0,0,20);
	background-image: url(./image/bg_page.png)
}
p {
	font-family: "Pacifico", cursive;
	font-weight: 400;
	font-style: normal;
	color: #6A94CC;
	font-size: 16pt;
}
h1, h2 {
	color: rgb(255,94,12);
}